body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.countdown-container {
    text-align: center;
    color: #fffc98;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

#countdown {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 400;
}

#countdown .time-unit {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    
}

.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.924);
    transform: rotate(-45deg);
    animation: burst 1s forwards;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.heart:before {
    top: -25px;
    left: 0;
}

.heart:after {
    left: 25px;
    top: 0;
}

@keyframes burst {
    0% {
        transform: scale(1) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: scale(3) rotate(-45deg);
        opacity: 0;
    }
}